<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}
    </head>
  <body class="bg-light">

<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark ">
    <a class="navbar-brand"
       href="{{ path('default_index') }}"><i class="fas fa-bus-alt"></i> {{ 'Bus Stop'|trans }}</a>

        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
               <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('admin_index') }}">{{ 'Admin'|trans }}</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="#">{{ app.user.username }}</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ logout_path() }}">{{ 'Sign out'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_login') }}">{{ 'Sign in'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    
</nav>

<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% block body %}
           {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% endblock %}
    </div>
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>

    
{% endblock %}
</body>
</html>

